<!DOCTYPE html>
<html lang="en">
<head>
 
  {{>front_head}}

  <title>Human-Life-Biotech All Products</title>

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  {{>front_header}}


  <div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Our Products</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">

          <div class="row">

            {{#each product}}
            
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <a class="card-link" href="/product-details/{{this.id}}">
              <div class="card-doctor" title="{{this.productName}}">
                <div class="header">
                  <img src="../products/{{this.productImage1}}" style="max-width: 15rem; max-height:15rem" alt="">
                  <div class="meta">
                    {{!-- <a href="#"><span class="mai-call"></span></a>
                    <a href="#"><span class="mai-logo-whatsapp"></span></a> --}}
                  </div>
                </div>
                <div class="body">
                  <p class="text-xl mb-0 text-truncate">{{this.productName}}</p>
                  {{!-- <span class="text-sm text-grey " >{{this.productDescription}}</span> --}}
                </div>
              </div>
              </a>
            </div>

            {{/each}}

          </div>

        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->
{{!-- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT --}}

  



  {{>front_footer}}

{{>front_script}}
  
  
</body>
</html>